 <% if !current_page?(root_path) %>
   <div class="navbar-set">
    <div class="navbar-logo">
      <%= link_to root_path do %>
        <%= image_tag("https://res.cloudinary.com/flashcard/image/upload/v1614767455/Landing-page%20background%20and%20logo/logo.png", :width => 50, :height => 40) %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="collapse navbar-collapse-1" id="navbarSupportedContent">
        <ul class="navbar-nav-1 mr-auto">
          <li class="nav-item dropdown">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/flashcard/image/upload/c_crop,h_500,w_500/v1614867653/Landing-page%20background%20and%20logo/default-avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "#{current_user.first_name}'s Dashbaord", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Search for a Deck", decks_path, class: "dropdown-item" %>
              <%= link_to "Add a New Deck", new_deck_path, class: "dropdown-item" %>
              <%= link_to "Sign Out", destroy_user_session_path, emthod: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
