<% @first_six_decks.each do |deck| %>
  <div class="recently-played-card">
    <div class="card-title-and-subtitle">
      <h3 id="dash-card-header"> <%= link_to deck.name, deck_path(deck) %> </h3>
      <h6 id="dash-card-subtitle">  <%= deck.category.name %> </h6>
    </div>
    <div class="details-box">
      <div class="cards-details-box">
        <%= link_to deck_path(deck) do %>
          <p class = "used-count"></i><%= deck.cards.count %> <%= image_tag "https://res.cloudinary.com/flashcard/image/upload/v1615289621/Landing-page%20background%20and%20logo/cards-icon.png", class: "cards-icon" %></p>
          <p class="attempt-counter"><%= deck.scores.count %><i class="fas fa-play cards-icon"></i></p>
        <% end %>
      </div>
    </div>
    <div class="name-and-avatar">
      <p class="user-name">Made by <%= deck.user.first_name %></p>
      <div class="card-avatar-div">
        <% if deck.user.avatar.attached? %>
          <%= cl_image_tag deck.user.avatar.key, :width=>35, :height=>35,:gravity=>"face", :crop=>"thumb", cloud_name: "flashcard", class: "card-avatar" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/flashcard/image/upload/v1614867653/Landing-page%20background%20and%20logo/default-avatar.jpg", alt: "alttext", class: "card-avatar", alt: "alttext" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
