<!-- Standard container to control width -->
<div class="container">
  <!--the div containing both the deck list on the left and the recently played div -->
  <div id="deck-list-and-recently-played-container">
    <% if @decks %>
    <div class="dashboard-left">
      <h5 class="dashboard-subheadings" id="deck-list-header">Your decks:</h5>
    <div id="deck-list-container">
      <%= render 'dashboard-deck-list' %>
    </div>
    </div>
    <% end %>
    <div class="dashboard-right">
      <div class="container dashboard-buttons-container">
        <%= link_to "View your cards", cards_path, class:"btn btn-success", id:"index-user-cards" %>
        <%= link_to "Create new Deck", new_deck_path, class:"btn btn-success", id:"create-new-deck-button" %>
        <%= link_to "Find your deck", decks_path, class:"btn btn-success", id:"find-new-deck-button" %>
      </div>
      <h5 class="dashboard-subheadings-2" >Popular decks:</h5>
      <div id="recently-played-container">
        <%= render 'recently-played-cards' %>
      </div>

      <div id="daily-usage">
        <h5 class="text-center">Daily Usage:</h5>
        <div class="d-inline-flex p-2 w-100 justify-content-between">
          <div>
            <h7><em>Log-ins this month:</em> <strong><%= current_user.logins_per_month %></strong> </h7>
          </div>
          <div>
            <h7><em>Decks studied this month:</em> <strong><%= current_user.decks_studied_per_month %></strong> </h7>
          </div>
          <div>
            <h7><em>Flashcard streak:</em> <strong><%= current_user.streaks %></strong></h7>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
