<% if user_signed_in? %>
  <div class="box1"></div>
    <h3 id="welcome-back-message"> Welcome back to flashcard.tech!</h3>
    <%= link_to "My Dashboard", dashboard_path, class:"btn btn-success", id:"home-links" %>
    <div id="your-current-usage">
      <h7><strong>You last signed in on: </strong><%= current_user.last_sign_in_at.strftime("%A, %d %B") %> </h7><br><br>
      <h7><strong>Total number of sign-ins: </strong><%= current_user.sign_in_count %> </h7>
    </div>
  </div>

<% else %>

  <!-- Ignore this for now! -->

  <div class="box1"></div>
  <div class="box1"></div>
  <div class="box2"></div>
  <div class="box3"></div>
  <div class="box4"></div>
  <%= link_to "Get started today!" , new_user_registration_path ,class:"btn btn-success", id:"sign-up" %>
  <%= link_to "Log-In", new_user_session_path ,class:"btn btn-primary", id:"log-in" %>
<% end %>



