<div class="container">
  <span class="buttons-card-index">
    <%= link_to "Back to dashboard", dashboard_path, class: "back-to-dash-button" %>
    <button class="reveal-answers">Reveal Answers</button>
  </span>

  <h3 id="deck-search-header">Card Search</h3>

  <%= form_tag cards_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find you cards"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>



  <% if current_user.cards.count != 0 %>
  <% @my_cards.each do |card| %>
    <div class="line-container-cards">
      <div class="card-container">
        <h5><strong><%= card.question %></strong></h5>
        <h5 id="card-answer-visible" class="card-answer-hide"><%= card.answer %>
      </div>
      <div id="edit-card-button">
         <%= link_to "Edit", edit_card_path(card) %>
      </div>
      <div id="delete-card-button" >
         <%= link_to "Delete", card_path(card), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
  <% else %>
    <div class="no-cards-content">
      <h3>You've not added any cards yet...</h3>
      <p>Head back to your dashboard to add some now.</p>
    </div>
  <% end %>
</div>
