<div class="container">
  <span class="buttons-card-index">
    <%= link_to "Back to dasboard", dashboard_path, class: "back-to-dash-button" %>
    <button class="reveal-answers">Reveal Answer's</button>
  </span>

  <h3 id="deck-search-header">Card Search</h3>

  <div class="search-bar select2">
    <%= form_tag decks_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control select2",
      placeholder: "Search through public decks..."%>
      <%= submit_tag "Search", class: "btn btn-primary", id: "deck-search-button" %>
    <% end %>
  </div>
  <% if current_user.cards.count != 0 %>
  <% current_user.cards.each do |card| %>
    <div class="line-container-cards">
      <div class="card-container">
        <h5><strong><%= card.question %></strong>
        <h5 id="card-answer-visible" class="card-answer-hide"><%= card.answer %>
      </div>
      <div id="edit-card-button">
         <%= link_to "Edit this card", edit_card_path(card) %>
      </div>
      <div id="delete-card-button" >
         <%= link_to "Delete this card", card_path(card), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
  <% else %>
    <div class="no-cards-content">
      <h3>You've not added any cards yet...</h3>
      <p>Head back to your dashboard to add some now.</p>
    </div>
  <% end %>
</div>
