<span class="counter">
  <div class="card-total">
    <h6>No. of Cards: <h6 id="score_count_total"><%= @deck.cards.count %></h6></h6>
  </div>
  <div class="card-completed">
    <h6 class="attempt_score">No. Correct: <h6 id="score_count">0</h6></h6>
  </div>
</span>
<div class="container" id="card-study-page">
  <% @deck.cards.each_with_index do |card, index| %>
  <div id="card<%=index%>" class="card-main <%= 'hideCard' unless index.zero? %>" >
    <div class="attempt-side" id="attempt<%= index %>">
      <div class="card-question">
        <h3><%= card.question %></h3>
      </div>
      <%= simple_form_for "#{card}", remote: true do |f| %>
        <%= f.input :attempt, as: :text, id:"user_attempt", input_html: {class: "attempt_#{index}"} %>
        <%= f.hidden_field :card_id, data: {card: card.id}, class: "hidden_field", value: false %>
      <% end %>
      <span class="button-correct">
        <button class="btn flipButton" data-id="<%= index %>"><i class="fas fa-redo-alt"></i></button>
      </span>
    </div>

    <div class="answer-side hideCard" id="answer<%= index %>">
      <div class="card-question">
        <p>Question:</p> <%= card.question %>
      </div>
      <pre><code><div class="attempt card-attempt<%= index %>">
      </div></code></pre>
      <div class="card-answer">
        <p>Answer:</p> <%= card.answer %>
      </div>
      <span class="button-correct">
        <i id="correct" data-id="<%= index %>" data-card="<%= card.id %>" class="far fa-check-circle"></i>
        <i id="incorrect" data-id="<%= index %>" data-card="<%= card.id %>" class="fas fa-times"></i>
      </span>
    </div>
    <% @final = @deck.cards.size == index + 1 ? true : false %>
    <%= link_to "", card_scores_path(card_id: card.id, deck_id: @deck.id,correct: true, final: @final), id:"card#{index}_true", method: :post %>
    <%= link_to "", card_scores_path(card_id: card.id, deck_id: @deck.id,correct: false, final: @final), id:"card#{index}_false", method: :post %>
  </div>
  <% end %>
</div>

