<div class="container">
  <div class="add-new-card">
    <div class="question-form">
      <h4>Add a New Card</h4>
      <%= simple_form_for [@deck, @card], remote: true, method: :post do |f| %>
        <%= f.input :question, as: :text %>
        <%= f.input :answer, as: :text %>
        <%= f.submit "Add Card", class: "btn btn-success", id:"card-add-button"%>
      <% end %>
    </div>
    <div class="cards-container">
        <div class="text-center">
    <h4><%= @deck.name %>'s Current Cards</h4>
    <p><%= @deck.category.name %></p>
  </div>
      <% @deck_cards.each do |card| %>
        <div class="card-overview-deck">
          <%= card.question %>
        </div>
      <% end %>
    </div>
  </div>

  <span class="links-to-pages">
    <%= link_to "Add existing cards", edit_deck_path(@deck), class: "btn links-buttons" %>
    <%= link_to "Back to dashboard", dashboard_path, class: "btn links-buttons" %>
  </span>
</div>
