<div class="container">
	<div class="deck-name">
  	<h2><%= @deck.name %></h2>
    <p><%= @deck.category.name %></p>
  </div>

  <br>
  <h3>Cards:</h3>
  <div id="cards-container">
    <% @deck_cards.each do |card| %>
      <div class="card-overview">
         <%= card.question %>
         <br>
         <%= card.answer %>
      </div>
    <% end %>
  </div>
  
  <br>
  <br>
  <div class="new-card">
  	<%= simple_form_for [@deck, @card] do |f| %>
      <%= f.input :question %>
      <%= f.input :answer %>
      <%= f.submit "Add Card", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
