<% if @deck.name.nil?  %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <%= simple_form_for [ @deck ] do |f| %>
        <%= f.input :name %>
        <%= f.submit "Create Deck", class: "btn" %>
        <%= link_to  
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
	<div class="deck-name">
  	  <h2><%= @deck.name %></h2>
    </div>
  	<div class="deck-cards">
  		
  	</div>

  	<div class="new-card">
  		
  	</div>
</div>
