<div class="container">
  <%= link_to "Back to overview", deck_path, class: "btn edit-deck-back-button" %>
  <h3>Edit your <%= @deck.name %> deck:</h3>
  <%= simple_form_for(@deck) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :name %>
    <%= f.association :category, input_html: { class: 'select2' }  %>
    <ol class="current-cards">
      <% @deck.cards.each do |card| %>
        <li><%= card.question %></li>
      <% end %>
    </ol>
    <%= f.association :cards, label_method: :question, value_method: :id, input_html: {  class: 'select2', multiple: true } %>
    <%= f.simple_fields_for :cards do |card|%>
      <button id="hidden_button_edit" type="button">
        Create new card
      </button>
      <div class="d-none hidden_form">
        <%= card.input :question_1 %>
        <%= card.input :answer_1 %>
      </div>
    <% end %>
  <%= f.submit %>
  <% end %>
</div>
