<div class="container" id="deck-index-search-page">

  <%= link_to "Back to dasboard", dashboard_path, class: "back-to-dash-button" %>

  <h3 id="deck-search-header">Deck Search</h3>

    <div class="search-bar select2">
    <%= form_tag decks_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control select2",
      placeholder: "Search through public decks..."%>
      <%= submit_tag "Search", class: "btn btn-primary", id: "deck-search-button" %>
    <% end %>
  </div>
  <% shuffled_decks = @decks.shuffle %>
  <% shuffled_decks.each do |deck| %>
    <div class="line-container">
      <div class="deck-container">
        <h5><strong><%= deck.name %></strong> ~ <%= deck.cards.count %> <%= image_tag "https://res.cloudinary.com/flashcard/image/upload/v1615289621/Landing-page%20background%20and%20logo/cards-icon.png", class: "cards-icon" %> </h5>
        <div class="username-avatar">
          <h5><%= deck.user.first_name %></h5>
          <% if deck.user.avatar.attached? %>
            <%= cl_image_tag deck.user.avatar.key, cloud_name: "flashcard", class: "card-avatar" %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/flashcard/image/upload/v1614867653/Landing-page%20background%20and%20logo/default-avatar.jpg", alt: "alttext", class: "card-avatar", alt: "alttext" %>
          <% end %>
        </div>
      </div>
      <div class="study-now-container">
         <%= link_to "Study now", deck_path(deck) %>
      </div>
    </div>
  <% end %>
</div>
