<div class="container">
  <h3>Your results for <%= @deck.name %>: </h3>
  <div class="row justify-content-center">
    <div class="col-12">
      <ol>
        <% @deck.scores.each do |score| %>
          <li>
            Deck Name: <%= score.deck.name %>,
            Updated At: <%= score.updated_at %>,
            Total Correct: <%= score.total %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <%= link_to "Back to dashboard", dashboard_path, class: "results-buttons" %>
  <%= link_to "Back to deck overview", deck_path(@deck), class: "results-buttons" %>

</div>
