<div class="dash-buttons">
<%= link_to "Back to dashboard", dashboard_path, class: "btn results-buttons"  %>
<%= link_to "Back to deck overview", deck_path(@deck), class: "btn results-buttons"  %>
</div>
<div id="results-container"></div>
<style type="text/css">
  #results-container{
    position: absolute;
    width: 100vw;
    height:100vh;
  }
  #results-container canvas{
    width: 100vw;
    height: 100vh;
  }
</style>

<div class="container" >
  <h3 class="title-results">Your results for <%= @deck.name %>: </h3>
  <div class="row justify-content-center">
    <div class="results-in-con">
      <div class="col-12 results-box">
        <% if !@deck.scores.last.nil? %>
          <% most_recent_user_score = @deck.scores.last.total %>
          <% cards_in_deck = @deck.cards.count.to_f %>
          <% user_percentage = (most_recent_user_score/cards_in_deck * 100).round%>
          <% user_score_string_fraction = "#{most_recent_user_score}/#{cards_in_deck.to_i}" %>
          <% if user_percentage <= 40 %>
            <div class="big-percent">
              You just scored <%= user_percentage %>%
            </div>
            <div class="display-message">
              <%= "You could use some extra time on this deck, you got #{user_score_string_fraction}." %>
            </div>
            <%= link_to "Study this deck again", deck_card_path(@deck), class: "btn retry-button" %>
          <% elsif user_percentage <= 75 %>
            <div class="big-percent">
              You just scored <%= user_percentage %>%
            </div>
            <div class="display-message">
              <%= "Well done! you got #{user_score_string_fraction} this try!" %>
            </div>
          <% elsif user_percentage == 100 %>
            <div class="big-percent" id="confetti">
              You just scored <%= user_percentage %>%!
            </div>
              <i class="fas fa-trophy"></i>
          <% else %>
            <div class="big-percent">
              You just scored <%= user_percentage %>%
            </div>
            <div class="display-message">
              <%= "Wow! Pat yourself on the back you got #{user_score_string_fraction} this try!" %>
            </div>
          <% end %>
        <% else %>
          <p> Umm... you're not supposed to be here... </p>
          <p> Please score on a deck before coming to this page! </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="correct-cards">
    <div class="previous">
      <p id="results-header">Just now:</p>
      <% @deck.scores.where(user: current_user).last.card_scores.each do |score| %>
        <% if score.correct %>
        <div class="answer-first">
          <div class="previous-correct-cards-container">
            <div class="results-question">
              <%= score.card.question %>
            </div>
          </div>
          <div class="answer-cards-container">
            <div class="results-answer">
              <%= score.card.answer %>
            </div>
          </div>
        </div>
        <% else %>
        <div class="answer-first">
          <div class="previous-incorrect-cards-container">
            <div class="results-question">
              <%= score.card.question %>
            </div>
          </div>
          <div class="answer-cards-container">
            <div class="results-answer">
              <%= score.card.answer %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="first-previous">
      <% if @deck.scores.where(user: current_user).size > 1 %>
        <p id="results-header"><%= @deck.scores.where(user: current_user).last.created_at.strftime("%D %R") %>:</p>
        <% @deck.scores.where(user: current_user)[-2].card_scores.each do |score| %>
          <% if score.correct %>
            <div class="previous-correct-cards-container">
              <div class="results-question">
<!--                 <%= score.card.question %>
 -->              </div>
            </div>
          <% else %>
            <div class="previous-incorrect-cards-container">
              <div class="results-question">
<!--                 <%= score.card.question %>
 -->              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="second-previous">
      <% if @deck.scores.where(user: current_user).size > 2 %>
        <p id="results-header"><%= @deck.scores.where(user: current_user)[-3].created_at.strftime("%D %R") %>:</p>
        <% @deck.scores.where(user: current_user)[-3].card_scores.each do |score| %>
          <% if score.correct %>
            <div class="previous-correct-cards-container">
              <div class="results-question">
<!--                 <%= score.card.question %>
 -->              </div>
            </div>
          <% else %>
            <div class="previous-incorrect-cards-container">
              <div class="results-question">
<!--                 <%= score.card.question %>
 -->              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
