<div class="dash-buttons">
<%= link_to "Back to dashboard", dashboard_path, class: "btn results-buttons"  %>
<%= link_to "Back to deck overview", deck_path(@deck), class: "btn results-buttons"  %>
</div>
<div id="results-container"></div>
<style type="text/css">
  #results-container{
    position: absolute;
    width: 100vw;
    height:100vh;
  }
  #results-container canvas{
    width: 100vw;
    height: 100vh;
  }
</style>

<div class="container" >
  <h3 class="title-results">Your results for <%= @deck.name %>: </h3>
  <div class="row justify-content-center">
    <div class="results-in-con">
      <div class="col-12 results-box">
        <%= render 'results_text_query' %>
      </div>
    </div>
  </div>

  <div class="table-of-results">
  <table class="results-table">
    <thead>
      <tr>
        <th class="table-headers">Question</th>
        <th class="table-headers">Answer</th>
        <th class="table-headers">Just Now</th>
        <% if @deck.scores.where(user: current_user).size > 1 %>
          <th class="table-headers"><%= @deck.scores.where(user: current_user).last.created_at.strftime("%D %R") %></th>
        <% end %>
        <% if @deck.scores.where(user: current_user).size > 2 %>
          <th class="table-headers"><%= @deck.scores.where(user: current_user)[-3].created_at.strftime("%D %R") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
<!--       <%# @deck.scores.where(user: current_user).last.card_scores.each do |score| %>
      <tr class="table-row">
        <td class="card-question-results"><%#= score.card.question %></td>
        <td class="card-answer-results"><%#= score.card.answer %></td>
        <%# if score.correct %>
          <td class='correct-table'><i class="fas fa-check"></i></td>
        <%# else %>
          <td class='incorrect-table'><i class="fas fa-times"></i></td>
        <%# end %>
        <%#= render 'first_previous', score: score %>
        <%#= render 'second_previous', score: score %>
      </tr>
      <%# end %> -->
      <% @deck.scores.where(user: current_user).last.card_scores.uniq{|x| x.card_id}.each do |score| %>
      <tr class="table-row">
        <td class="card-question-results"><%= score.card.question %></td>
        <td class="card-answer-results"><%= score.card.answer %></td>
        <% if score.correct %>
          <td class='correct-table'><i class="fas fa-check"></i></td>
        <% else %>
          <td class='incorrect-table'><i class="fas fa-times"></i></td>
        <% end %>
        <%= render 'first_previous', score: score %>
        <%= render 'second_previous', score: score %>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
